<header class="header">
  <div class="logo"><%= link_to "kasego!", root_path %></div>

  <div class="header_right">
    <% if user_signed_in? %>
      <div class="header_right_button">
        <span class="nickname"><%= current_user.nickname %></span>
        <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>
      </div>
    <% else %>
      <div class="header_right_button">
        <%= link_to "ログイン", new_user_session_path %>
      </div>
      <div class="header_right_button">
        <%= link_to "新規登録", new_user_registration_path %>
      </div>
    </div>
    <% end %>
  </div>
</header>