<header class="header">
  <div class="logo"><%= link_to "kasego!", root_path %></div>
      <div class="header_right">

      <div class="header_right_button">
        <span><%= link_to "ユーザー名", "#" %>さん</span>
        <%= link_to "ログアウト", "#"%>
      </div>

      <div class="header_right_button">
        <%= link_to "ログイン", "#" %>
      </div>
      <div class="header_right_button">
        <%= link_to "新規登録", "#" %>
      </div>
    </div>

  </div>
</header>