<%= render "shared/header" %>
<div class="wrapper">
  <div class="side_bar_area">
    <ul class="lists">
    <% if user_signed_in? %>
      <li class="list"><%= link_to "やることを<br>登録".html_safe, (new_to_do_path) %></li>
      <li class="list"><%= link_to "やること<br>リスト".html_safe, (to_dos_path) %></li>
      <li class="list"><%= link_to "やったことを<br>記録".html_safe, (new_record_path) %></li>
      <li class="list"><%= link_to "先月までの<br>合計金額".html_safe, (payments_path) %></li>
      <li class="list_other_user">-みんなの記録-</li>
    </ul>
      <div class="other_users_list">
      <% @user.each do |user| %>
        <% if user != current_user %>
          <div class="other_users"><%= link_to "#{user.nickname}さん", user_path(user) %></div>
        <% elsif @user.count == 1 %>
          <div class="other_user_nil">他のユーザーは<br>いません</div>
        <% end %>
      <% end %>
      </div>
    <% end %>
  </div>

  <div class="main_area">
    <div class="main_area_top">
      <% if user_signed_in? && current_user.payments.where(date: Date.today.beginning_of_month..Date.today.end_of_month).empty? && @user_total_prices_prv_month != 0 %>
        <div class="receipt_message">おこづかいを受け取ったら<br>先月の合計金額を記録してください
           <div class="receipt_btn"><%= link_to "先月の<br>合計金額を記録".html_safe, new_payment_path %></div>
        </div>
      <% end %>
      <% if user_signed_in? %>
      <div class="prev_total_price"><%= "#{@prev_month}月の合計金額は"%><span class="prev_prices"><%= @user_total_prices_prv_month %>円</span>でした</div>
        <div class="total_price"><%= "#{@today_month}月の合計金額は"%><span class="prices"><%= @user_total_prices_month %>円</span>です！</div>
      <% else %>
        <div class="greeting">新規登録かログインをしてください</div>
      <% end %> 
    </div>
    <div class="calendar_area">
      <%= month_calendar do |date| %>
        <%= date.day %>
        <% if user_signed_in? %>
          <% total_price = current_user.records.joins(:to_do).where(date: date).sum('to_dos.price * times') %>
          <% if total_price > 0 %>
            <div class="total_price_by_date">
              <%= total_price %>円
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <div class="to-dos_records_wrapper">
        <% @records.each do |record| %>
        <div class="to_dos_records">
            <% if record.user_id == current_user.id && record.date.month == @today_month %> 
            <div class="to_dos_record_date"><%= record.date.strftime('%m/%e') %></div>
            <div class="to_dos_record_content"><%= record.to_do.content %></div>
            <div class="to_dos_record_price"><%= "#{record.to_do.price}円 x #{record.times} = #{record.to_do.price * record.times}円" %></div>
            <div class="record_btn"><%= link_to "修正", edit_record_path(record.id) %></div>
            <div class="record_btn"><%= link_to "削除", record_path(record.id),data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %></div>
            <% end %>
        </div>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>