<%= render "shared/header" %>
  <div class="side_bar_area">
    <ul class="lists">
    <% if user_signed_in? %>
      <li class="list"><%= link_to "やることを登録する", (new_to_do_path) %></li>
      <li class="list"><%= link_to "やることリストを見る", (to_dos_path) %></li>
      <li class="list"><%= link_to "やったことを記録する", ("#") %></li>
      <li class="list"><%= link_to "みんなの記録を見る", ("#") %></li>
    <% end %>
    </ul>
  </div>

<%= render "shared/footer" %>