<div class="simple-calendar">
  <div class="calendar-heading">
    <div class="calendar_heading_month"><time datetime="<%= start_date.strftime('%Y-%m') %>" class="calendar-title"><%= t('date.month_names')[start_date.month] %></time></div>

    <div class="month_select_btns">
      <div class="month_select_btn"><%= link_to t('simple_calendar.previous', default: '前の月'), calendar.url_for_previous_view %></div>
      <div class="month_select_btn"><%= link_to t('simple_calendar.today', default: '今月'), calendar.url_for_today_view %></div>
    </div>
  </div>

  <table>
    <thead class="wdays_field">
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th class="wdays"><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>