<div class="payment_wrapper">
  <div class="payment_head"><%= "#{current_user.nickname}さんの記録" %></div>
  <% if @payments.nil? || @payments.empty? %>
    <div class="no_payment">まだ記録はありません</div>
  <% else %>
    <% @payments.each do |payment| %>
      <div class="payment_list">
        <div class="payment_date"><%= payment.date.strftime("%m/%e") %></div>
        <div class="record_month"><%= "#{payment.date.prev_month.strftime("%Y年%m月")}" %></div>
        <div class="payment_price"><%= "#{payment.total_price}円" %></div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="return">
  <%= link_to "戻る", root_path %>
</div>