<div class="form_wrap">
  <div class="form_header">
    <h2 class="form_header_text">もらった合計金額を記録する</h2>
  </div>
  <%= form_with(model: @payment, local: true) do|f| %>
  <%= render 'shared/error_messages', model: f.object %>
  <%= alert %>
  <%= flash[:alert] %>
  <div class="field">
    <%= f.label :date %><br />
    <div class="form_field">
      <%= f.date_field :date, value: Date.today, readonly: true, style: "width:100%" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :total_price %><br />
    <div class="form_field" style="white-space: nowrap;">
      <%= f.number_field :total_price, value: @user_total_prices_prv_month, readonly: true, style: "width:100%" %>円
    </div>
    <div class="actions">
      <%= f.submit "記録する" %>
    </div>
    <% end %>
  </div>
</div>

<div class="return">
  <%= link_to "戻る", root_path %>
</div>